/**
 * Copyright © PureClarity. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** TITLE BAR **/

.pureclarity-dashboard-index .page-title-wrapper {
    width: 356px;
    height: 75px;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size: 191px 75px;
}

.pureclarity-dashboard-index .page-title-wrapper .page-title {
    display:none;
}

/** VERSION INFO **/

#pc-version {
    padding: 5px 0;
    font-size: 0.9em;
    float:right;
    width: 200px;
    margin-top: 20px;
}

#pc-version #pc-logo {
    float:right;
    width: 135px;
    height: 53px;
    background-image: url('images/logo-outline.png');
    background-repeat: no-repeat;
    background-size: 135px 53px;
    margin-bottom: 5px;
}

#pc-version #pc-logo span {
    display:none;
}

#pc-version #pc-version-number {
    clear: both;
    text-align: right;
}

#pc-version #pc-version-status {
    text-align: right;
}

#pc-version #pc-version-status.pc-up-to-date {
    color:#006700;
}

#pc-version #pc-version-status.pc-out-of-date {
    color:#670000;
}

/** DASHBOARD GENERAL **/

#pc-dashboard {
    background: #e0eaec;
    border-radius: 3px;
    padding: 0 0 24px 0;
    font-family: Roboto, sans-serif;
}

#pc-dashboard #pc-clearfix {
    clear:both;
}

/** DASHBOARD CONTENT BOXES - GENERIC **/

#pc-dashboard .pc-box {
    float:left;
    width: 556px;
    margin-left:23px;
    margin-top: 23px;
}

#pc-dashboard .pc-box .pc-box-title-bar {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: middle;
    padding: 27px 33px;
    color: #fff;
    background: #68b9d6;
}

#pc-dashboard .pc-box .pc-box-title-bar h3 {
    font-size:1.4em;
    margin:0;
    padding:0;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

#pc-dashboard .pc-box .pc-box-content {
    height: 175px;
    background: #fff;
    padding: 28px 33px;
    font-size: 1.05em;
    font-weight: 300;
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#pc-dashboard .pc-box .pc-box-content p {
    font-size: 0.95em;
    line-height: 2.0em;
}

#pc-dashboard .action-default {
    background-color: #fea23b;
    border:0;
    color: white !important;
    font-weight: 600;
    font-size: 0.90em;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: none;
}

/** WELCOME PAGE - MARKETING CONTENT **/

#pc-dashboard #pc-welcome #pc-marketing-info .pc-box-content {
    height: 354px;
    border-radius: 3px;
}

#pc-dashboard #pc-welcome #pc-marketing-info h2 {
    text-transform: uppercase;
}

#pc-dashboard #pc-welcome #pc-marketing-info ul {
    list-style: none;
    margin-left: 20px;
}

#pc-dashboard #pc-welcome #pc-marketing-info ul li::before {
    content: "\25AA";
    color: #379cba;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    line-height: 1.5em;
    font-size: 1.2em;
}


/** WELCOME PAGE - SIGNUP BOX **/

#pc-dashboard #pc-welcome .pc-box .pc-box-content {
    height: 277px;
}

#pc-dashboard #pc-welcome #pc-sign-up ul {
    list-style: none;
    margin-left: 20px;
}

#pc-dashboard #pc-welcome #pc-sign-up ul li::before {
    content: "\25AA";
    color: #49494b;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    line-height: 1.5em;
}

/** WELCOME PAGE - EXISTING ACCOUNT FORM **/

#pc-dashboard #pc-save-details-form  p.pc-field {
    clear: both;
    padding: 0;
    height: 45px;
    margin:0;
    display:block;
}

#pc-dashboard #pc-save-details-form  label {
    display: block;
    width: 20%;
    float: left;
    clear: left;
    text-align: right;
}

#pc-dashboard #pc-save-details-form  input,
#pc-dashboard #pc-save-details-form  select {
    width: 50%;
    padding: 5px;
    margin-left: 2em;
    float: left;
}

#pc-dashboard #pc-welcome #pc-save-details-form label.mage-error {
    float:left;
    background: #fff;
    color: #f00;
    width: 50%;
    margin: 0;
    border: 0;
    padding:0;
}

#pc-dashboard #pc-save-details-form input.mage-error {
    border: 1px solid #f00;
}

#pc-dashboard .pc-box .pc-button {
    margin: 25px 0;
}

#pc-dashboard .action-default:hover {
    border: none;
    box-shadow: none;
}

/** WELCOME PAGE - SIGNUP MODAL **/

#pc-dashboard #pc-sign-up-form-holder {
    display:none;
}

.pc-sign-up-modal .modal-inner-wrap {
    background: #e0eaec;

    font-family: Roboto, sans-serif;
}

.pc-sign-up-modal .modal-inner-wrap .modal-header {
    margin-top: 28px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.pc-sign-up-modal .modal-inner-wrap .modal-footer {
    padding: 28px 33px;
    margin: 0 3rem 3rem 3rem;
    text-align:center;
    background: #fff;
}

.pc-sign-up-modal .modal-inner-wrap h1 {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: middle;
    padding: 27px 33px;
    color: #fff;
    background: #68b9d6;
    font-size:1.4em;
    margin:0;
    font-weight: 300;
    text-transform: uppercase;
}

.pc-sign-up-modal .modal-inner-wrap .modal-content {
    background: #fff;
    padding: 28px 33px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.pc-sign-up-modal .modal-inner-wrap .modal-content,
.pc-sign-up-modal .modal-inner-wrap .modal-header,
.pc-sign-up-modal .modal-inner-wrap .modal-footer {
    width: 78%;
    margin-right: auto;
    margin-left: auto;
}

.pc-sign-up-modal .modal-inner-wrap .modal-content h3 {
    text-transform: uppercase;
    font-weight: 300;
}

.pc-sign-up-modal .modal-inner-wrap .modal-content .left {
    border-right: 1px solid #ccc;
}

.pc-sign-up-modal .modal-inner-wrap .primary {
    background-color: #fea23b;
    border:0;
    color: white !important;
    font-weight: 600;
    font-size: 0.90em;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: none;
    width:139px;
}

#pc-sign-up-form-content .left {
    float:left;
    width:50%;
}

#pc-sign-up-form-content .right {
    float:right;
    width:45%;
}

#pc-sign-up-form-content p.pc-field,
#pc-sign-up-form-content p.details {
    clear: both;
    vertical-align: middle;
    height: 50px;
}

#pc-sign-up-form-content label.label,
#pc-sign-up-form-content span.label {
    display: block;
    margin: 0.5em 0.25em;
    width: 20%;
    float: left;
    clear: left;
    text-align: right;
    font-weight: 300;
}

#pc-sign-up-form-content label:after {
    color: #e22626;
    content: '*';
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 10px;
    margin-top: .2rem;
    position: absolute;
    z-index: 1;
}

#pc-sign-up-form-content label.mage-error {
    clear: both;
    background: #fff;
    color: #f00;
    width: 50%;
    margin: 0 0 0 13em;
    border: 0;
    padding:0;
}

#pc-sign-up-form-content input.mage-error {
    border: 1px solid #f00;
}

#pc-sign-up-form-content span.value {
    display: block;
    float: left;
    margin: 0.5em 0.25em 0.5em 2em;
    font-weight: 500;
}

#pc-sign-up-form-content input,
#pc-sign-up-form-content select {
    width: 50%;
    padding: 5px;
    margin-left: 2em;
    float: left;
}

#pc-sign-up-form-content #pc-sign-up-response-holder {
    clear: both;
    width: 73%;
    padding: 0.5em;
    float: left;
    position: absolute;
    bottom: 6.6em;
}

#pc-sign-up-form-content #pc-sign-up-response-holder.error {
    background-color: rgba(255, 0, 0, 0.4);
}

#pc-sign-up-form-content #pc-sign-up-response-holder.success {
    background-color:rgba(0,255,0,0.4);
}

/** WAITING PAGE **/

#pc-dashboard #pc-waiting .pc-box {
    width: 1118px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    float: none;
    text-align:center;
}

#pc-dashboard #pc-waiting .pc-box .pc-box-content {
    height: 348px;
    background-image: url('images/setting-up-account.jpg');
    background-repeat: no-repeat;
    background-size: 1118px 349px;
}

#pc-dashboard #pc-waiting .pc-box .pc-box-content p {
    color:#fff;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1.4em;
    font-weight: 400;
    margin: -2px 0 0 0;
}

#pc-dashboard #pc-waiting .pc-box .pc-box-content p.pc-sub {
    font-weight: 300;
    font-size: 1.2em;
}

.pc-loader {
    position: relative;
    top: -10px;
    display: block;
    height: 200px;
}

.pc-loader-outer,
.pc-loader-middle,
.pc-loader-inner {
    border: 5px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.pc-loader-outer {
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    animation: spin 2s linear infinite;
}

.pc-loader-middle {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    animation: spin 1.75s linear reverse infinite;
}

.pc-loader-inner {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/** THANKYOU PAGE - LAYOUT **/

#pc-dashboard #pc-thanks {
    padding-top: 24px;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
}

#pc-dashboard #pc-layer1 {
    height: 185px;
}

#pc-dashboard #pc-layer2 {
    clear: both;
    margin-top: 50px;
}

#pc-dashboard #pc-layer2 .pc-box .pc-box-content {
    height: 311px;
}

/** THANKYOU PAGE - FEEDS MODAL **/

#pc-feed-outputContainer {
    margin:20px 0;
}

.pc-run-feeds .modal-inner-wrap {
    width:450px;
}

#pc-feeds-modal-content h4 {
    clear:both;
    padding-top:10px;
}

#pc-feeds-modal-content label {
    display: block;
    float:left;
    width: 100px;
    padding: 0;
    text-align: right;
    margin-right: 20px;
}

#pc-feeds-modal-content label.forselect {
    padding:5px;
}

#pc-feeds-modal-content select {
    display: block;
    float:left;
}

#pc-feeds-modal-content .pc-feed-field {
    clear:both;
    margin: 10px 0;
    display:block;
    height: 20px;
}

#pc-feeds p {
    clear:both
}

/** THANKYOU PAGE - INSTALL ZONES MODAL **/

.pc-install-zones .modal-inner-wrap {
    width:450px;
}

#pc-zone-modal-content label {
    display: block;
    float:left;
    width: 100px;
    padding:5px;
    text-align: right;
    margin-right: 20px;
}

#pc-zone-modal-content select {
    display: block;
    float:left;
}

#pc-zone-modal-content .pc-topbuffer {
    margin-top:25px;
}

#pc-zone-modal-content .pc-zone-field {
    clear:both;
    margin: 10px 0;
    display:block;
    height: 50px;
}

#pc-zone-modal-content #pc-zone-outputContainer {
    margin:20px 0;
}