/**
 * Copyright © PureClarity. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** TITLE BAR **/

.pureclarity-dashboard-index .page-title-wrapper {
    width: 127px;
    height: 50px;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size: 127px  50px;
}

.pureclarity-dashboard-index .page-title-wrapper .page-title {
    display:none;
}

.pureclarity-dashboard-index .page-columns {
    background: #e0eaec;
    padding: 20px 30px;
}

.pureclarity-dashboard-index .page-columns:after {
    content: "";
    display: block;
    clear: both;
}

.pureclarity-dashboard-index .page-main-actions {
    margin-bottom: 0;
}

/** VERSION INFO **/

#pc-version {
    padding: 5px 0;
    font-size: 0.9em;
    float:right;
    width: 200px;
    margin-top: 20px;
}

#pc-version #pc-logo {
    float:right;
    width: 135px;
    height: 53px;
    background-image: url('images/logo-outline.png');
    background-repeat: no-repeat;
    background-size: 135px 53px;
    margin-bottom: 5px;
}

#pc-version #pc-logo span {
    display:none;
}

#pc-version #pc-version-number {
    clear: both;
    text-align: right;
}

#pc-version #pc-version-status {
    text-align: right;
}

#pc-version #pc-version-status.pc-up-to-date {
    color:#006700;
}

#pc-version #pc-version-status.pc-out-of-date {
    color:#670000;
}

/** DASHBOARD GENERAL **/

#pc-dashboard {
    border-radius: 3px;
    font-family: Lato, sans-serif;
}

#pc-dashboard:after {
    content: "";
    display: block;
    clear: both;
}

.pc-clearfix {
    clear:both;
}

/** DASHBOARD CONTENT BOXES - GENERIC **/


#pc-dashboard .pc-box .pc-box-title-bar {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: middle;
    padding: 27px 33px;
    color: #fff;
    background: #68b9d6;
}

#pc-dashboard #pc-layer2 .pc-box .pc-box-title-bar {
    background: #777777;
}

#pc-dashboard .pc-box .pc-box-title-bar h3 {
    margin:0;
    padding:0;
    color: #fff;
    font-weight: 600;
    font-size: 23px;
}

#pc-dashboard .pc-box .pc-box-content {
    background: #fff;
    padding: 28px 33px;
    font-size: 1.05em;
    font-weight: 400;
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#pc-dashboard .pc-box .pc-box-content p {
    font-size: 1.495rem;
    line-height: 2.0rem;
}

#pc-dashboard .action-default,
.pc-modal button.primary,
#pc-dashboard .pc-button {
    background-color: #c4d95a;
    border: 0;
    color: #3c4858 !important;
    font-weight: 600;
    font-size: 1.44rem;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: none;
    width: 139px;
    padding: 10px;
}

#pc-dashboard .action-default:hover,
.pc-modal button.primary {
    border: none;
    box-shadow: none;
}

#pc-dashboard .action-default.pc-disabled,
.pc-modal button.primary.pc-disabled {
    background-color: #999999;
}

/** DASHBOARD SIGN UP PAGE **/

#pc-dashboard #pc-signup-col1 .pc-box {
    width: 100%;
}

#pc-sign-up-form-content:after {
    content: "";
    display: block;
    clear: both;
}

@media only screen and (max-width: 1500px) {
    #pc-dashboard {
        margin: 0 auto;
    }

    #pc-sign-up-form-content .left {
        float:none;
        width:100%;
        border-right: none;
    }

    #pc-sign-up-form-content .right {
        float:none;
        width:100%;
    }

    #pc-sign-up-form-content label.mage-error {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #pc-sign-up-form-content .right label.mage-error {
        margin: 0;
    }

    #pc-signup-col1:after {
        content: "";
        display: block;
        clear: both;
    }

    #pc-signup-col2 {
        clear:both;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    #pc-dashboard {
        margin: 0;
    }

    .pc-sign-up-modal .modal-inner-wrap {
        width: 556px;
    }
}

@media only screen and (min-width: 1000px) {

    #pc-sign-up-form-content .left {
        float:left;
        width:50%;
    }

    #pc-sign-up-form-content .right {
        float:right;
        width:45%;
    }
}

/**
 ### CONFIGURED DASHBOARD INFO BOXES ###
 */
@media only screen and (min-width: 1501px) {

    #pc-signup-col1 {
        width: 58%;
        float:left;
        margin-right: 30px;
    }

    #pc-signup-col2 {
        width: 33%;
        float:left;
    }

    #pc-col1 {
        width: 60%;
        float:left;
    }

    #pc-col2 {
        width: 40%;
        float:left;
    }

    #pc-dashboard .pc-box {
        float:left;
        min-width: 420px;
    }
}

@media only screen and (min-width: 1675px) {

    #pc-signup-col1 {
        width: 63%;
    }
}

/** DASHBOARD SIGN UP BOX **/

#pc-dashboard #pc-sign-up .pc-box-content {
    min-height: 531px;
}

#pc-dashboard #pc-sign-up p.sign-up-subheading {
    font-weight: 600;
    font-size: 1.95rem;
    margin-top: 0;
    margin-bottom: 0.5em;
}

#pc-dashboard #pc-sign-up ul {
    list-style: none;
    margin-top:0;
    margin-left: 20px;
    margin-bottom: 30px;
    height: 40px;
}

#pc-dashboard #pc-sign-up ul li::before {
    content: "\25AA";
    color: #379cba;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    line-height: 1.5em;
    font-size: 1.2em;
}

#pc-dashboard #pc-sign-up ul li {
    float:left;
    width: 50%;
}

#pc-dashboard #pc-sign-up p.sign-up-instruction {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    clear:both;
    display:block;
    font-size: 1.6rem;
}

#pc-dashboard #pc-link-account-button {
    font-size: 1.4rem;
    margin-left: 0.5rem;
    font-weight: 400;
}

#pc-dashboard #pc-sign-up form h3 {
    margin-top: 0;
}

#pc-sign-up-form-content p.pc-field,
#pc-sign-up-form-content p.details {
    clear: both;
    vertical-align: middle;
    height: 40px;
}

#pc-sign-up-form-content label.label,
#pc-sign-up-form-content label.nr-label,
#pc-sign-up-form-content span.label {
    display: block;
    margin: 0.3em 0.25em 0;
    width: 30%;
    float: left;
    clear: left;
    text-align: right;
    font-weight: 400;
}

#pc-sign-up-form-content label.label:after {
    color: #e22626;
    content: '*';
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 2px;
    margin-top: .2rem;
    position: absolute;
    z-index: 1;
}

#pc-sign-up-form-content label.mage-error {
    clear: both;
    background: #fff;
    color: #f00;
    width: 50%;
    margin: 0 0 0 29%;
    border: 0;
    padding:0;
}

.pc-tooltip {
    position: relative;
    border-bottom: 1px dotted black;
    display: inline-block;
    font-size: 1.4rem;
    margin-top:3px;
}

.pc-tooltip .pc-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #379cba;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.3rem;
}

.pc-tooltip .pc-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #379cba transparent transparent transparent;
}

.pc-tooltip:hover .pc-tooltip-text {
    visibility: visible;
    opacity: 1;
}

#pc-sign-up-form-content .right label.mage-error {
    margin: 0 0 0 30%;
}

#pc-sign-up-form-content input.mage-error {
    border: 1px solid #f00;
}

#pc-sign-up-form-content span.value {
    display: block;
    float: left;
    margin: 0.5em 0.25em 0.5em 2em;
    font-weight: 500;
}

#pc-sign-up-form-content input,
#pc-sign-up-form-content select {
    width: 50%;
    padding: 5px;
    margin-left: 2em;
    float: left;
}

#pc-sign-up-form-content input#pc-sign-up-phone {
    width: 50%;
    margin-right: 10px;
}

#pc-sign-up-form-content #pc-sign-up-response-holder {
    clear: both;
    width: 80%;
    padding: 8px;
    margin-top: 15px;
    display: inline-block;
    color: #000;
}

#pc-sign-up-form-content #pc-sign-up-response-holder.error {
    background-color: rgba(255, 0, 0, 0.4);
}

#pc-sign-up-form-content #pc-sign-up-response-holder.success {
    background-color:rgba(0,255,0,0.4);
}

/*#pc-dashboard #pc-welcome.pc-multi-store .pc-box .pc-box-content {
    min-height: 314px;
}*/

/*#pc-dashboard #pc-welcome.pc-multi-store #pc-sign-up ul {
    min-height: 163px;
}*/

#pc-sign-up-form-content .pc-sign-up-submit-button {
    float:right;
    margin-top: 15px;
}

/** WELCOME PAGE - MARKETING CONTENT **/

#pc-dashboard #pc-marketing-info .pc-box-content {
    height: 241px;
    border-radius: 3px;
    width: 520px;
    margin: 0 auto;
}
/* stat donuts */

.pc_stat_donut {
    display: block;
    float:left;
    text-align: center;
    width: 150px;
}

.pc_stat_donut span {
    font-weight: bold;
}

svg.pc_donut {
    display: block;
    margin: auto;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    stroke-dasharray: 0, 510;
}

svg .pc_donut_text {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pc_donut_animation {
    animation: pc_donut 2s;
}

.pc_donuts p {
    font-size: 2.3rem;
    line-height: 3.3rem;
}

.pc_donut_base {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}

@keyframes pc_donut {
    0% {
        stroke-dasharray: 0, 263.89;
    }

    100% {
    }
}

/** WELCOME PAGE - FEATURES BOX **/

#pc-features  {
    margin-top:30px;
}

.pc-feature img {
    width: 200px;
    margin: 0 auto;
}

#pc-features p {
    margin-top: 0;
    text-align: center;
}

#pc-dashboard #pc-features .pc-box-content {
    height: 341px;
    width: 520px;
    margin: 0 auto;
}

#pc-features h3 {
    margin-bottom: 0.5em;
}

.pc-feature {
    text-align: center;
}
.pc-feature img {
    width: 200px;
    margin: 0 auto;
}

/** WELCOME PAGE - EXISTING ACCOUNT FORM **/

#pc-dashboard #pc-link-account-form-holder {
    display:none;
}

.pc-link-account-modal #pc-save-details-form  p.pc-field {
    clear: both;
    padding: 0;
    height: 45px;
    margin:0;
    display:block;
}

.pc-link-account-modal #pc-save-details-form  label:not(.pc-radio),
.pc-link-account-modal #pc-save-details-form span.label  {
    display: block;
    width: 20%;
    float: left;
    clear: left;
    text-align: right;
}

.pc-link-account-modal #pc-save-details-form  input:not(.pc-radio),
.pc-link-account-modal #pc-save-details-form  select {
    width: 50%;
    padding: 5px;
    margin-left: 2em;
    float: left;
}

.pc-link-account-modal #pc-save-details-form span.value {
    width: 50%;
    padding: 0;
    margin-left: 2em;
    float: left;
}

.pc-link-account-modal #pc-save-details-form label.mage-error {
    float:left;
    background: #fff;
    color: #f00;
    width: 65%;
    margin: 0;
    border: 0;
    padding:0;
}

.pc-link-account-modal #pc-save-details-form input.mage-error {
    border: 1px solid #f00;
}

.pc-link-account-modal .pc-box .pc-button {
    margin: 25px 0;
}

.pc-link-account-modal #pc-account-details {
    margin-top: 1rem;
}

.pc-link-account-modal  .pc-link-info {
    margin-bottom: 3rem;
    font-weight: 600;
}

.pc-link-account-modal #pc-account-details #pc-link-account-response-holder {
    clear: both;
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    color: #000;
}

.pc-link-account-modal #pc-account-details #pc-link-account-response-holder.error {
    background-color: rgba(255, 0, 0, 0.4);
}

.pc-link-account-modal #pc-account-details #pc-link-account-response-holder.success {
    background-color:rgba(0,255,0,0.4);
}

/** MODALS **/

.pc-link-account-modal .modal-inner-wrap {
    font-family: Lato, sans-serif;
    width: 25%;
    border-radius: 5px;
}

.pc-modal .modal-inner-wrap .modal-header,
.pc-link-account-modal .modal-inner-wrap .modal-header {
    margin-top: 0;
    padding: 0;
    text-align: center;
}

.pc-modal .modal-inner-wrap .modal-header .action-close ,
.pc-link-account-modal .modal-inner-wrap .modal-header .action-close {
    color: #fff;
}

.pc-modal .modal-inner-wrap h1,
.pc-link-account-modal .modal-inner-wrap h1 {
    border-radius: 5px 5px 0 0;
    vertical-align: middle;
    padding: 27px 33px;
    color: #fff;
    background: #68b9d6;
    font-size:1.4em;
    margin:0;
    font-weight: 400;
}

.pc-modal .modal-inner-wrap .modal-content,
.pc-link-account-modal .modal-inner-wrap .modal-content {
    background: #fff;
    padding: 28px 33px;
    margin: 0;
}

.pc-link-account-modal .modal-inner-wrap .modal-content h3 {
    font-weight: 400;
}

.pc-modal .modal-inner-wrap .modal-content p {
    font-weight: 400;
}

.pc-link-account-modal .modal-inner-wrap .modal-content .left {
    border-right: 1px solid #ccc;
    width:50%;
}

.pc-link-account-modal .modal-inner-wrap .modal-footer {
    padding: 28px 33px;
    margin: 0;
    text-align:center;
    background: #fff;
    border-radius: 0 0 5px 5px ;
}

.pc-link-account-modal .modal-inner-wrap .primary {
    background-color: #fea23b;
    border:0;
    color: white !important;
    font-weight: 600;
    font-size: 0.90em;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: none;
    width:139px;
}

/** WAITING PAGE **/

#pc-dashboard #pc-waiting .pc-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    float: none;
    text-align:center;
}

#pc-dashboard #pc-waiting .pc-box .pc-box-content {
    height: 348px;
    background-image: url('images/setting-up-account.jpg');
    background-repeat: no-repeat;
    background-size: 1118px 349px;
}

#pc-dashboard #pc-waiting .pc-box .pc-box-content p {
    color:#fff;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 400;
    margin: -2px 0 0 0;
}

.pc-loader {
    position: relative;
    top: -10px;
    display: block;
    height: 200px;
}

.pc-loader-outer,
.pc-loader-middle,
.pc-loader-inner {
    border: 5px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.pc-loader-outer {
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    animation: spin 2s linear infinite;
}

.pc-loader-middle {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    animation: spin 1.75s linear reverse infinite;
}

.pc-loader-inner {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/** THANKYOU PAGE - LAYOUT **/

.pc-banner {
    margin: 30px 0 0 0;
    background: white;
    padding: 15px 30px;
    border-radius: 5px;
    border-top: 5px solid #c4d95a;
}

.pc-banner h3 {
    margin: 0;
}


#pc-dashboard #pc-thanks {
    padding-top: 24px;
    font-size: 1.4em;
    font-weight: 300;
    padding-lefT: 24px;
}

#pc-dashboard #pc-layer1 {
    height: 185px;
}

#pc-dashboard #pc-layer2 {
    clear: both;
    margin-top: 50px;
}

#pc-dashboard #pc-layer2 .pc-box .pc-box-content {
    height: 311px;
}

#pc-dashboard #pc-layer2.pc-multi-store .pc-box .pc-box-content {
    height: 338px;
}

#pc-dashboard .pc-feedName {
    width: 90px;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
    font-weight: 600;
}

#pc-dashboard .pc-feed-status-icon {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    top: 2px;
    position: relative;
    margin: 0 5px;
}

#pc-dashboard p.pc-feed {
    margin: 5px 0;
}

#pc-dashboard .pc-feed-status-icon.pc-feed-in-progress {
    background-image: url('images/in-progress.gif');
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

#pc-dashboard .pc-feed-status-icon.pc-feed-complete {
    background-color: #C5D859;
}

#pc-dashboard .pc-feed-status-icon.pc-feed-waiting {
    background-image: url('images/waiting.gif');
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

#pc-dashboard .pc-feed-status-icon.pc-feed-not-sent {
    background-color: #fea23b;
}

#pc-dashboard .pc-feed-status-icon.pc-feed-disabled {
    background-color: #999;
}

#pc-dashboard .pc-feed-status-icon.pc-feed-error {
    background-color: #f00;
}

#pc-dashboard #pc-feed-info-store {
    padding-bottom:5px;
}

/** THANKYOU PAGE - FEEDS MODAL **/

#pc-feed-outputContainer {
    margin:20px 0;
}

.pc-run-feeds .modal-inner-wrap {
    width:450px;
    font-family: Lato, sans-serif;
}

#pc-feeds-modal-content h4 {
    clear:both;
    padding-top:10px;
}

#pc-feeds-modal-content label {
    display: block;
    float:left;
    width: 100px;
    padding: 0;
    text-align: right;
    margin-right: 20px;
}

#pc-feeds-modal-content label.forselect {
    padding:5px;
}

#pc-feeds-modal-content select {
    display: block;
    float:left;
}

#pc-feeds-modal-content p.pc-bottom-buffer {
    margin-bottom: 25px;
}

#pc-feeds-modal-content .pc-feed-field {
    clear:both;
    margin: 10px 0;
    display:block;
    height: 20px;
}

#pc-feeds-modal-content .pc-feed-field-select {
    clear:both;
    margin: 10px 0;
    display:block;
    height: 25px;
}

#pc-feeds p {
    clear:both
}

/** THANKYOU PAGE - INSTALL ZONES MODAL **/

.pc-install-zones .modal-inner-wrap {
    width:450px;
    font-family: Lato, sans-serif;
}

#pc-zone-modal-content label {
    display: block;
    float:left;
    width: 100px;
    padding:5px;
    text-align: right;
    margin-right: 20px;
}

#pc-zone-modal-content select {
    display: block;
    float:left;
}

.pc-modal .pc-topbuffer {
    margin-top:25px;
}

#pc-zone-modal-content .pc-zone-field {
    clear:both;
    margin: 15px 0;
    display:block;
    height: 30px;
}

#pc-zone-modal-content #pc-zone-outputContainer {
    margin: 75px 0 0;
}

.pureclarity-info-box {
    border: 1px solid #ccc;
    border-top: 5px solid #68b9d6;
    border-radius: 5px;
    background: white;
    padding: 0;
    margin: 30px 30px 30px 0;
}

.pureclarity-info-box .pureclarity-info-title {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
    padding: 15px 30px;
    margin:0;
}

.pureclarity-info-box.pc-ft-warning,
.pureclarity-info-box.pc-ft-error {
    border-top: 1px solid #ccc;
}

.pureclarity-info-box.pc-ft-warning .pureclarity-info-title {
    background: #e3d246;
}

.pureclarity-info-box.pc-ft-error .pureclarity-info-title {
    background: #f44336;
}

.pureclarity-info-box.pc-ft-error .pureclarity-info-title h2 {
    color: #fff;
}
.pureclarity-info-box .pureclarity-info-title h2 {
    padding: 0;
    margin:0;
    color: #23282d;
    font-size: 2.08rem;
    font-weight: 500;
}

.pureclarity-info-box .pureclarity-info-content {
    padding: 15px 30px;
    margin:0;
}

.pureclarity-info-box .pureclarity-info-content p {
    font-size:1.36rem;
    color: #23282d;
}

.pureclarity-info-box .pureclarity-info-content ul {
    list-style: none;
}

.pureclarity-info-box .pureclarity-info-content ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #68b9d6; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1.0rem; /* Also needed for space (tweak if needed) */
    margin-left: 1.0rem; /* Also needed for space (tweak if needed) */
}

.pureclarity-info-box .pureclarity-info-content li {
    color: #23282d;
}

.pureclarity-info-box iframe {
    border:0;
}

.pureclarity-info-box .pureclarity-info-button {
    clear:both;
    margin-top:20px;
}

.pureclarity-next-step-actions {
    display: block;
    margin-top: 20px;
}

#pureclarity-headline-stats .pureclarity-headline-stats-content {
    padding: 15px 30px;
    margin:0;
}

#pureclarity-headline-stats .pureclarity-headline-stats-tabs {
    border-bottom: 2px solid #68b9d6;
    padding: 5px;
    height: 45px;
}

#pureclarity-headline-stats .pureclarity-headline-stat-tab {
    background: #fff;
    font-size: 1.92rem;
    color: #313238;
    padding:5px;
    cursor: pointer;
    float: right;
    border: 2px solid #ccc;
    margin-bottom:2px;
    border-bottom: 0;
}

#pureclarity-headline-stats .pureclarity-headline-stat-tab:first-of-type {
    float:left;
}

#pureclarity-headline-stats .pureclarity-headline-stat-tab.pureclarity-headline-stat-active {
    color: #23282d;
    border: 2px solid #68b9d6;
    border-bottom: none;
    padding-bottom: 7px;
    margin-bottom:0;
}

#pureclarity-headline-stats .pureclarity-headline-stat-rec-total {
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
}

#pureclarity-headline-stats .pureclarity-headline-stat-rec-total span.pureclarity-rec-total {
    font-size: 1.92rem;
    font-weight: 700;
    display: block;
}

#pureclarity-headline-stats .pureclarity-headline-stat-rec-total span.pureclarity-sub-total {
    font-size: 1.72rem;
    font-weight: 700;
}

#pureclarity-headline-stats .pureclarity-stats-button {
    clear:both;
    padding-top:20px;
}


.pureclarity-headline-stat-row {
    margin: 0;
    clear:both;
    border-bottom: 1px solid #ccc;
    height:30px;
}
.pureclarity-headline-stat-row:hover {
    background: #ddd;
}

.pureclarity-stat-label {
    padding: 5px;
    font-weight: 500;
    width: 40%;
    display:block;
    float: left;
    font-size:1.36rem;
}

.pureclarity-stat-value {
    width: 40%;
    display:block;
    float: right;
    padding: 5px;
    text-align: right;
}

/** TOOLBAR */

#pureclarity-toolbar #pc-title-bar-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 0;
}

#pureclarity-toolbar .pc-topbar-button {
    float: left;
    margin: 0 10px;
}

#pureclarity-toolbar .page-actions-buttons a {
    float:left;
    display:block;
    padding: 35px 10px 0 10px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center top;
    text-decoration: underline;
}

#pureclarity-toolbar .page-actions-buttons #pureclarity-toolbar-settings {
    background-image: url('images/settings.png');
}

#pureclarity-toolbar .page-actions-buttons #pureclarity-toolbar-documentation {
    background-image: url('images/documentation.png');
}

#pureclarity-toolbar .page-actions-buttons #pureclarity-toolbar-support {
    background-image: url('images/support.png');
}