<?xml version="1.0"?>
<!--
/**
 * Copyright © PureClarity. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Pureclarity\Core\ImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/pureclarity</argument>
            <argument name="basePath" xsi:type="string">catalog/pureclarity</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
	<type name="Pureclarity\Core\Controller\Adminhtml\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Pureclarity\Core\ImageUpload</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin name="pureclarity_core_dataprovider_plugin" type="Pureclarity\Core\Plugin\Category\DataProvider" />
    </type>

    <type name="Magento\Customer\Model\Session">
        <plugin name="pureclarity_customer_session" type="Pureclarity\Core\Plugin\Customer\Session" sortOrder="10"/>
    </type>
    
    <type name="Magento\Framework\HTTP\PhpEnvironment\RemoteAddress">
        <arguments>
            <argument name="alternativeHeaders" xsi:type="array">
                <item name="x-forwarded-for" xsi:type="string">HTTP_X_FORWARDED_FOR</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="pureclarity_run_all_feeds" xsi:type="object">Pureclarity\Core\Console\Command\RunFeed\All</item>
                <item name="pureclarity_run_brand_feed" xsi:type="object">Pureclarity\Core\Console\Command\RunFeed\Brand</item>
                <item name="pureclarity_run_category_feed" xsi:type="object">Pureclarity\Core\Console\Command\RunFeed\Category</item>
                <item name="pureclarity_run_order_history_feed" xsi:type="object">Pureclarity\Core\Console\Command\RunFeed\OrderHistory</item>
                <item name="pureclarity_run_product_feed" xsi:type="object">Pureclarity\Core\Console\Command\RunFeed\Product</item>
                <item name="pureclarity_run_user_feed" xsi:type="object">Pureclarity\Core\Console\Command\RunFeed\User</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Pureclarity\Core\Model\Serverside\Data\Customer">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Pureclarity\Core\Model\Serverside\Data\Cart">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Pureclarity\Core\ViewModel\Checkout\Onepage\Success">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <preference for="Pureclarity\Core\Api\StateRepositoryInterface" type="Pureclarity\Core\Model\StateRepository"/>
    <preference for="Pureclarity\Core\Api\Data\StateInterface" type="Pureclarity\Core\Model\State"/>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="PureClarityPlaceOrder" type="Pureclarity\Core\Plugin\Order\AfterPlace" />
    </type>
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="pureclarity-excludes" type="Pureclarity\Core\Plugin\Minification\Excludes" />
    </type>

    <preference for="Pureclarity\Core\Api\UserFeedDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\User\FeedData" />
    <preference for="Pureclarity\Core\Api\UserFeedRowDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\User\RowData" />

    <preference for="Pureclarity\Core\Api\BrandFeedDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\Brand\FeedData" />
    <preference for="Pureclarity\Core\Api\BrandFeedRowDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\Brand\RowData" />

    <preference for="Pureclarity\Core\Api\CategoryFeedDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\Category\FeedData" />
    <preference for="Pureclarity\Core\Api\CategoryFeedRowDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\Category\RowData" />

    <preference for="Pureclarity\Core\Api\OrderFeedDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\Order\FeedData" />
    <preference for="Pureclarity\Core\Api\OrderFeedRowDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\Order\RowData" />

    <preference for="Pureclarity\Core\Api\ProductFeedDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\Product\FeedData" />
    <preference for="Pureclarity\Core\Api\ProductFeedRowDataManagementInterface" type="Pureclarity\Core\Model\Feed\Type\Product\RowData" />

    <virtualType name="PureClarityLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Pureclarity\Core\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Pureclarity\Core\Block\Bmz"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Controller\Adminhtml\Bmz\Install"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Cron\CheckVersion"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Cron\RunNightly"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Cron\RunRequestedFeeds"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Cron\CheckSignupStatus"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Helper\Serverside"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\State\Error"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\State\Running"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\State\Progress"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\State\Request"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\State\RunDate"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Product\RowDataHandlers\Prices"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Product\FeedData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Product\RowData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Category\FeedData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Category\RowData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Brand\FeedData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Brand\RowData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Order\FeedData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\Order\RowData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\User\FeedData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Type\User\RowData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Feed\Runner"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Serverside\Data\Cookie"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Serverside\Data\Store"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Serverside\Data\Cart"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Zones\Installer"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Zones\Uninstaller"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\NextSteps\Complete"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Attribute\Backend\Image"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Dashboard"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Signup\AddStore"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Signup\Process"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Dashboard\Banner"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Delta\Type\Product"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Delta\Runner"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Plugin\Category\DataProvider"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Plugin\Order\AfterPlace"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Setup\UpgradeData"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\ViewModel\Configuration"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\ViewModel\Adminhtml\Stores"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>
    <type name="Pureclarity\Core\Model\Log\Delete"><arguments><argument name="logger" xsi:type="object">PureClarityLogger</argument></arguments></type>

</config>
