<?xml version="1.0"?>
<!--
/**
 * Copyright © PureClarity. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="purclarity" frontName="pureclarity" >
            <module name="Pureclarity_Core" />
        </route>
    </router>
</config>