<?xml version="1.0"?>
<!--
/**
 * Copyright © PureClarity. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pureclarity_tab" translate="label" sortOrder="500">
            <label>PureClarity</label>
        </tab>
        <section id="pureclarity" translate="label" type="text" showInDefault="1" showInStore="1" showInWebsite="1">
            <label>Configuration</label>
            <tab>pureclarity_tab</tab>
            <resource>Pureclarity_Core::config</resource>
            <group  id="dashboard" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PureClarity</label>
                <attribute type="expanded">1</attribute>
                <frontend_model>Pureclarity\Core\Block\Adminhtml\Config\Dashboard</frontend_model>
            </group>
            <group id="environment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Environment</label>
                <field id="active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="credentials" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credentials</label>
                <comment>The Access Key is website and store specific. If you have a different access key for each store view, for example to integrate to PureClarity in different languages, you must set a separate key for each store.</comment>
                <field id="access_key" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Key</label>
                </field>
                <field id="secret_key" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
                <field id="region" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region</label>
                    <source_model>Pureclarity\Core\Model\Config\Source\Region</source_model>
                </field>
            </group>
            <group id="mode" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mode</label>
                <comment><![CDATA[
                    Choose the Mode that PureClarity will work in:<br />
                    <br /><strong>Client-side</strong>: All data and HTML for recommenders comes from the PureClarity servers.
                    <br /><strong>Serverside</strong>: Populate Product recommenders using Magento data after getting SKUs to show from PureClarity. Ideal for when you have complex pricing rules & logic.
                ]]></comment>
                <field id="mode" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>Pureclarity\Core\Model\Config\Source\Mode</source_model>
                </field>
            </group>
            <group id="feeds" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Data feeds/Indexing</label>
                <comment>Configure the settings for indexing your data with PureClarity.</comment>
                <field id="product_index" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Indexing Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose if the PureClarity Product Reindexing should be enabled.</comment>
                </field>
                <field id="product_send_customer_group_pricing" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Feed - Send Customer Group Pricing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, prices will be sent for all Customer Groups. Will increase time taken for product feed</comment>
                </field>
                <field id="notify_feed" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Daily Feed Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose if a full data set of Products, Categories and Users should be pushed to PureClarity in the early hours each day.</comment>
                </field>
                <field id="brand_feed_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Feed Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this is enabled, the brand parent category value should be set below.</comment>
                </field>
                <field id="brand_parent_category" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Parent Category</label>
                    <source_model>Pureclarity\Core\Model\Config\Source\Categories</source_model>
                    <comment>Set the parent category of the Brand Categories. First level children of the selected category will be used to build your brand feed. Products in those categories will be assigned as a specific brand.</comment>
                </field>
                <field id="excluded_product_attributes" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Excluded Product Attributes</label>
                    <source_model>Pureclarity\Core\Model\Config\Source\Attributes</source_model>
                    <comment>Any product attributes chosen here will not be sent in the product feed.</comment>
                </field>
            </group>
            <group id="placeholders" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Placeholder images</label>
                <field id="placeholder_product" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product image placeholder</label>
                    <comment>Leave this blank to use the Magento default placeholder.</comment>
                </field>
                <field id="placeholder_category" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category image placeholder</label>
                    <comment>Leave this blank to use the Magento default placeholder.</comment>
                </field>
                <field id="placeholder_category_secondary" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secondary category image placeholder</label>
                    <comment>Leave this blank to use the Magento default placeholder.</comment>
                </field>
            </group>
            <group id="advanced" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced options</label>
                <field id="bmz_debug" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Zone Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>In Zone Debug Mode the Zone Id is shown on Zones that have no content. Leave this disabled in production use.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
