/**
 * Copyright © PureClarity. All rights reserved.
 * See LICENSE.txt for license details.
 */

@media only screen and (min-width: 600px) {
    div.pureclarity_magento_mobile {
        display: none!important;
    }
}

@media only screen and (max-width: 599px) {
    div.pureclarity_magento_desktop {
        display: none!important;
    }
}

.pc_bmz_buffer {
    margin:10px 0;
}

div.pureclarity_magento_media_conflict {
    display: none!important;
}